
#header {
    width: 100%;
    background: #0F4D92;
    text-align: center;
    vertical-align: middle;
    padding: 5px 0;
    position: relative;
}

#title {
    color: white;
    font-size:40px 
}

#headerbuttons {
    width: 250px;
}

#logoutbutton { 
    font-size:12px;
    color: white;
    padding: 5px 3px;
    background: #0F4D92;
    width: 100px;
    float: right;
}

#historybutton { 
    font-size:12px;
    color: white;
    padding: 5px 3px;
    background: #0F4D92;
    width: 100px;
    float: left;
}
