input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body { 
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0
}

h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0;
    background: #0F4D92; 
    text-align: center; 
    color: white;
}

h2 {
    padding-top: 15px;
    text-align: center;
    margin: 0;
    text-size: 30px;
}

table {
    width: 100%;
    padding: 10px;
}

input {
    width: 100%;
    height: 40px
}

select {
    width: 100%;
    height: 40px
}

input[type="submit"] {
    color: white;
    font-weight: bold;
    font-size: 25px;
    background: #0F4D92;
}

label.error {
    color: red;
}
