input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html { 
    height: 100%; 
    min-width: 750px;
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    border: 0
}

#accordion {
    margin-bottom: 50px;
}

#accordion .ui-accordion-header#open_header {  
    background-color: #90EE90; /* Old browsers */  
    background-image: -moz-linear-gradient(top, #90EE90 0%, #90EE90 100%); /* FF3.6+ */  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#90EE90), color-stop(100%,#90EE90)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top, #90EE90 0%,#90EE90 100%); /* Chrome10+,Safari5.1+ */  
    background-image: -o-linear-gradient(top, #90EE90 0%,#90EE90 100%); /* Opera 11.10+ */  
    background-image: -ms-linear-gradient(top,  #90EE90 0%,#90EE90 100%); /* IE10+ */  
    background-image: linear-gradient(to bottombottom,  #90EE90 0%,#90EE90 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90EE90', endColorstr='#90EE90',GradientType=0 ); /* IE6-9 */  
}  

#accordion .ui-accordion-header#in_progress_header {  
    background-color: #FFFF66; /* Old browsers */  
    background-image: -moz-linear-gradient(top, #FFFF66 0%, #FFFF66 100%); /* FF3.6+ */  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#FFFF66), color-stop(100%,#FFFF66)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top, #FFFF66 0%,#FFFF66 100%); /* Chrome10+,Safari5.1+ */  
    background-image: -o-linear-gradient(top, #FFFF66 0%,#FFFF66 100%); /* Opera 11.10+ */  
    background-image: -ms-linear-gradient(top,  #FFFF66 0%,#FFFF66 100%); /* IE10+ */  
    background-image: linear-gradient(to bottombottom, #FFFF66 0%,#FFFF66 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFF66', endColorstr='#FFFF66',GradientType=0 ); /* IE6-9 */  
}  

#accordion .ui-accordion-header#closed_header {  
    background-color: #FFB6C1; /* Old browsers */  
    background-image: -moz-linear-gradient(top, #FFB6C1 0%, #FFB6C1 100%); /* FF3.6+ */  
    background-image: -webkit-gradient(linear, left top, left bottombottom, color-stop(0%,#FFB6C1), color-stop(100%,#FFB6C1)); /* Chrome,Safari4+ */  
    background-image: -webkit-linear-gradient(top, #FFB6C1 0%,#FFB6C1 100%); /* Chrome10+,Safari5.1+ */  
    background-image: -o-linear-gradient(top, #FFB6C1 0%,#FFB6C1 100%); /* Opera 11.10+ */  
    background-image: -ms-linear-gradient(top,  #FFB6C1 0%,#FFB6C1 100%); /* IE10+ */  
    background-image: linear-gradient(to bottombottom,  #FFB6C1 0%,#FFB6C1 100%); /* W3C */  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFB6C1', endColorstr='#FFB6C1',GradientType=0 ); /* IE6-9 */  
}

#contents {
    margin-left: 75px;
    margin-right: 75px;
}

#page_title {
    text-align: center;
    font-size:40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tabs {
	  font-size: 20px;
    margin-bottom: 10px;
}

#task_table {
    width: 100%;
}

#left_col {
    text-align: left;
    width: 50%;
}

#right_col {
    text-align: right;
    margin-right: 10px;
    width: 50%;
}

#task_entry {
    overflow: hidden;
}

#button { 
    font-size:15px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background: #0F4D92;
    text-align: center;
}

#task_details {
    width: 100%;
}

#task_details tr td:first-child {
    padding-right: 30px;
}

#task_details tr td {
    text-align: left;
}

#thumb {
    width: 30px;
    height: 30px;
}

#in_progress_buttons div {
    display: inline-block;
    margin-left: 5px;
}

.map-canvas {
    height: 150px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
