input, select, textarea {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

html { 
    height: 100%;
    min-width: 1000px
}

body {
    height: 100%; 
    margin: 0;
    padding: 0;
    border: 0
}

#accordion {
    margin-bottom: 50px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
}

#tabs {
    max-width: 800px;
    margin: 0 auto;
}

#accordion .ui-accordion-header {
    background-color: white;  
    margin: 0px;
}

#accordion .ui-accordion-header.open_header {  
    background: #90EE90 !important;
    word-wrap: break-word;
}  

#accordion .ui-accordion-header.in_progress_header {  
    background: #FFFF66 !important;
    word-wrap: break-word;
}  

#accordion .ui-accordion-header.closed_header {  
    background: #FFB6C1 !important;
    word-wrap: break-word;
}

#contents {
    margin-left: 75px;
    margin-right: 75px;
}

#page_title {
    text-align: center;
    font-size:40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#tabs {
    font-size: 20px;
    margin-bottom: 10px;
}

#tabs > * {
    display: inline;
}

#requestor_score {
    text-align: right;
    float: right;
}

#task_table {
    width: 100%;
}

#returnhomebutton { 
    height: 50px;
    width: 200px;
    font-size:20px;
    color: white;
    background: #0F4D92; 
    text-align: center;
    margin: 0 auto;
}

.in_progress_header #left_col {
    text-align: left;
    max-width: 350px;
}

.open_header #left_col {
    text-align: left;
    max-width: 600px;
}

#right_col {
    text-align: right;
    margin-right: 10px;
    width: 50%;
}

.task_entry {
    overflow: hidden;
}

#button { 
    font-size:15px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background: #0F4D92;
    text-align: center;
}

.button { 
    font-size:15px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background: #0F4D92;
    text-align: center;
}

#button_dull { 
    font-size:15px;
    padding: 5px 10px;
    color: white;
    font-weight: bold;
    background: #84b6cd;
    text-align: center;
}

#task_details {
    width: 100%;
}

#task_details tr td:first-child {
    padding-right: 30px;
}

#task_details tr td:nth-child(2) {
    max-width: 550px;
    word-wrap: break-word;
}

#task_details tr td {
    text-align: left;
}

.thumb {
    width: 30px;
    height: 30px;
}

#in_progress_buttons div {
    display: inline-block;
    margin-left: 5px;
}

.map-canvas {
    height: 150px;
    width: 400px;
    text-align: center;
    margin: 0 auto;
}
