<!DOCTYPE html>
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:700px)" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:699px)" href="{{ url_for('static', filename='header_mobile.css') }}">

    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:700px)" href="{{ url_for('static', filename='activation.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:699px)" href="{{ url_for('static', filename='activation_mobile.css') }}">

  </head>
  <body>
    <div id="header">
      <div id="title">Wambam!</div>
    </div>
    <div id="content">
      <div id="message">{{ message }}</div>
      <form id="form" action="/home">
        <input type="submit" value="Return to WamBam!" /> 
      </form>
    </div>
  </body>

  
</html>
