<!DOCTYPE html>
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:700px)" href="{{ url_for('static', filename='confirmation.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:699px)" href="{{ url_for('static', filename='confirmation_mobile.css') }}">

  </head>
  <body>
    {% include 'header.html' %}
    <div id="contents">
      <div id="cool"> :'( </div>
      <div id="desc"> This task in no longer available. </div>
      <form action="/working">
        <input id="button" type="submit" value="Return to WamBam!" /> 
      </form>
    </div>
  </body>
</html>
