<!DOCTYPE html>
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      body { margin: 0px; padding: 0px; border: 0px }
      #header { background: #0F4D92; color: white; font-size:40px; padding-top: 15px; padding-bottom: 15px; padding-left: 30px}
      #contents { text-align: center }
      #cool { font-size:80px; margin-top: 80px }
      #desc { font-size:20px; margin-top: 15px }
      #button{ height: 50px; width: 225px; font-size:20px; color: white; background: #0F4D92; text-align: center; margin-left: 15px; margin-right: 15px; margin-top: 20px }
   </style>
  </head>
  <body>
    <div id="header"> WamBam! </div>
    <div id="contents">
      <div id="cool"> Cool. </div>
      <div id="desc"> We're on it. </div>
      <form id="form" action="/home">
        <input id="button" type="submit" value="Return to WamBam!" /> 
      </form>
    </div>
  </body>
</html>
