<!DOCTYPE html>
<!-- Heading found at the top of all screens when logged in -->
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:700px)" href="{{ url_for('static', filename='header.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:699px)" href="{{ url_for('static', filename='header_mobile.css') }}">
  </head>
  <body>
    <div id="header">
      <div id="title">Wambam!<a href="/home"></a></div>
      <div id="headerbuttons">
        <form action="/my_requester_tasks">
          <input type="submit" id="historybutton" value="My History"></input>
        </form>
        <form action="/logout">
          <input type="submit" id="logoutbutton" value="Log Out"></input>
        </form>
      </div>
    </div>
  </body>
</html>
