<!DOCTYPE html>
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" media="screen and (min-device-width:700px)" href="{{ url_for('static', filename='index.css') }}">
    <link rel="stylesheet" type="text/css" media="screen and (max-device-width:699px)" href="{{ url_for('static', filename='index_mobile.css') }}">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA3Y6rYtcBAnNDGa317n5bRdYAp3_fhgFU&sensor=false"></script>
    <script src="{{ url_for('static', filename='map.js') }}"></script>
    <script src="{{ url_for('static', filename='logout_location.js') }}"></script>
  </head>
  <body>
    <div id="header">
      <div id="toolbar">
        <div id="title"> WamBam! </div>
	<span id="logoutdiv">
          <form action="/logout">
            <input type="submit" id="logoutbutton" value="Log Out"></input>
          </form>
      </span>

        <div id="description" style="clear:both;"> Drop a pin where you need something. </div>
      </div>
    </div>
    <div id="map-canvas"></div>
    <div id="buttonbar">
      <form id="form" action="/working">
        <input type="submit" value="I want to work!">
      </form>
      <form id="form" action="/addtask" method="POST">
        <input type="hidden" id="lat" name="lat" type="text" />
        <input type="hidden" id="lng" name="lng" type="text" />
        <input onClick="addtask()" id="create_task_button" type="submit" value="Get it done" style="display: none" /> 
      </form>
    </div>
  </body>
</html>
