<div style="text-align: center">
  <h1> {{title}} ({{bid}}) </h1>
    <table> 
      <tr>
        <td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Positive Feedback: </td>
        <td style="text-align: left; padding-left: 10px">{{requester_score}}</td>
      </tr> 
      <tr>
        <td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Requester Email:</td>
        <td style="text-align: left; padding-left: 10px">{{email}}</td>
      </tr> 
      <tr>
        <td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Delivery Location:</td>
        <td style="text-align: left; padding-left: 10px">{{location}}</td>
      </tr> 
      <tr>
        <td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Expires:</td>
        <td style="text-align: left; padding-left: 10px">{{expiration}}</td>
      </tr> 
      <tr>
        <td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px"> <br> Details:</td>
      </tr> 
    </table> 
    <div style="text-align: left"> {{details}} </div>
    <br> 
    <form action="/confirmWamBam" method="POST">
    <input type="submit" value="Claim" style="height: 30px; width: 75px; font-size:15px; color: white; background: #0F4D92; text-align: center">
    <input type="hidden" name="title" value="{{title}}">
    <input type="hidden" name="bid" value="{{bid}}">
    <input type="hidden" name="location" value="{{location}}">
    <input type="hidden" name="description" value="{{details}}">
    <input type="hidden" name="expiration" value="{{expiration}}">
    <input type="hidden" name="email" value="{{email}}">
  </form> 
</div>
