<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      if (screen.width >= 700) {
	document.location="login.html";
      }
      document.cookie = "mobile=true;path=/";
    </script>

    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login_mobile.css') }}">
  </head>
  <body>
    <h1>Wambam!</h1>

    <form action="/login" method="POST" id="loginform">
      <table>
	<tr>
	  <td>Email or Phone</td>
	  <td><input id="userfield" type="text" name="userfield"></td>
	</tr>
	<tr>
          <td>Password</td>
          <td>
            <input id="passwordfield" type="password" name="passwordfield">
          </td>
	</tr>
	<tr>
          <td colspan="2">
            <input id="loginbutton" type="submit" name="loginbutton" value="Log In">
            <input name="next" type="hidden" value="{{pre_login_url}}"/>
          </td>
	</tr>
      </table>
    </form>

    <form id="registerform" action="/register" method="POST">
      <table>
	<tr>
	  <td colspan="2"><h2>or new to Wambam!?</h2></td>
	</tr>
	
	<tr>
	  <td>
	    <label for="firstname">First Name</label>
	  </td>
	  <td>
	    <input type="text" name="firstname">
	    <div id="firstnameerror"> </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="lastname">Last Name</label>
	  </td>
	  <td>
	    <input type="text" name="lastname">
	    <div id="lastnameerror"> </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="phone">Phone Number</label>
	  </td>
	  <td>
	    <input type="text" name="phone">
	    <div id="phoneerror"> </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="phonecarrier">Phone Carrier</label>
	  </td>
	  <td>
	    <select id="phonecarrier" name="phonecarrier" form="registerform">
              <option selected="selected" value="AT&T">AT&T</option>
              <option value="Boost Mobile">Boost Mobile</option>
              <option value="MetroPCS">MetroPCS</option>
              <option value="Sprint">Sprint</option>
              <option value="T-Mobile">T-Mobile</option>
              <option value="U.S. Cellular">U.S. Cellular</option>
              <option value="Virgin Mobile">Virgin Mobile</option>
              <option value="Verizon Wireless">Verizon Wireless</option>
            </select>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="email">Email Address</label>
	  </td>
	  <td>
	    <input type="text" name="email">
	    <div id="emailerror"> </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="password">Password</label>
	  </td>
	  <td>
	    <input type="password" name="password" id="password">
	    <div id="passworderror"> </div>
	  </td>
	</tr>
	<tr>
	  <td>
	    <label for="passwordconfirm">Confirm Password</label>
	  </td>
	  <td>
	    <input type="password" name="passswordconfirm">
	    <div id="passwordconfirmerror"> </div>
	  </td>
	</tr>
	<tr>
	  <td id="submitcol" colspan="2">
	    <input type="submit" id="register" name="register" value="Register">
	  </td>
	</tr>
      </table>
    </form>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/additional-methods.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='login_validator.js') }}"></script>

  </body>
</html>
