<!DOCTYPE html>
<!--*******************
*                     *
*     UNUSED FILE     *
*                     *
********************-->
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html { min-width: 700px }
      body { font-size:20px; text-align: center }
      #ok { font-size:80px }
      #textbutton { height: 45px; width: 250px; font-size: 30px; padding-left: 10px; margin-bottom: 20px }
      #button{ height: 50px; width: 150px; font-size:20px; color: white; background: #0F4D92; text-align: center; margin-left: 15px; margin-right: 15px; }
      label.error { color: red; display: block;  }
   </style>
  </head>
  <body>
    <p id="ok"> OK! </p>
    <p> We'll find someone to take care of that for you. What's your number? </p>
    <form action="/confirmphone" method="POST">
      <input id="textbutton" type="text" name="phonenumber"><br>
      <input id="button" type="submit" value="WamBam!">
    </form>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
    <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    <script>
      $( "#form" ).validate({
        rules: {
          phonenumber: {
            required: true,
            phoneUS: true
          }
        }
      });
      $.validator.messages.required = 'Please specify a valid phone number';
      $.validator.messages.phoneUS = 'Please specify a valid phone number';
    </script>
  </body>
</html>
