<!DOCTYPE html>
<html>
  <head>
    <title>WamBam!</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0; border: 0 }
      #header { background: #0F4D92; text-align: center; vertical-align: middle; padding-top: 15px; padding-bottom: 15px }
      #title { color: white; font-size:40px }
      #description { color: #FFFFFF; font-size:20px }
      #map-canvas { height: 500px }
      #buttonbar{ text-align: center; padding-top: 10px; padding-bottom: 10px }
      #button{ height: 50px; width: 300px; font-size:20px; color: white; background: #0F4D92; text-align: center; margin-left: 15px; margin-right: 15px; }
      #form { margin: 0; padding: 0; display:inline }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
      function setMapSize() {
         var mapHeight = $("body").height() - $("#buttonbar").height() - $("#header").height() - 50;
         $("#map-canvas").height(mapHeight);
      }

      $
      $(window).on('resize', function() { setMapSize(); });

      if (!String.prototype.format) {
        String.prototype.format = function() {
          var args = arguments;
          return this.replace(/{(\d+)}/g, function(match, number) { 
            return typeof args[number] != 'undefined'
              ? args[number]
              : match
            ;
          });
        };
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyA3Y6rYtcBAnNDGa317n5bRdYAp3_fhgFU&sensor=false"></script>
    <script>
      var map;
      var infowindow = null;
      function initialize() {
        var mapOptions = {
        zoom: 15,
        center: new google.maps.LatLng(41.3111, -72.9267)
        };

        map = new google.maps.Map(document.getElementById('map-canvas'),
                                  mapOptions);

	      map.setOptions({styles: [
	         {
	           featureType: "poi",
             elementType: "labels",
	           stylers: [
	             { visibility: "off" }
	           ]
	         }
	       ]});

     var contentString = '<div style="text-align: center; ">'+
          '<h1> {0} ({1}) </h1>'+
          '<table> <tr>'+
          '<td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Requester Email:</td>'+
          '<td style="text-align: left; padding-left: 10px">{3}</td>'+
          '</tr> <tr>'+
          '<td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Delivery Location:</td>'+
          '<td style="text-align: left; padding-left: 10px">{4}</td>'+
          '</tr> <tr>'+
          '<td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px">Expires:</td>'+
          '<td style="text-align: left; padding-left: 10px;">{2}</td>'+
          '</tr> <tr>'+
          '<td style="text-align: left; font-weight: bold; border: 0px; margin: 0px; padding: 0px; padding-top:20px"> Details:</td>'+
          '</tr><td style="text-align: left;" colspan="2"> {5}'+
'</td> </tr> </table>'+ 
          '<form action="/claimtask" method="POST">'+
          '<input type="submit" value="Claim" style="height: 30px; width: 75px; font-size:15px; color: white; background: #0F4D92; text-align: center">'+
          '<input type="hidden" name="title" value="{0}">'+
          '<input type="hidden" name="bid" value="{1}">'+
          '<input type="hidden" name="location" value="{4}">'+
          '<input type="hidden" name="description" value="{5}">'+
          '<input type="hidden" name="expiration" value="{2}">'+
          '<input type="hidden" name="email" value="{3}">'+
          '</form> </div>';

      infowindow = new google.maps.InfoWindow({
            content: "foo",
            maxWidth: 400
      });

      setMapSize();

      $.get('get_all_active_tasks', function(data) {
          var activeTasks = data["items"];
          
          for (var i = 0; i < activeTasks.length; i++) {
            var title = activeTasks[i]["short_title"];
            var bid = activeTasks[i]["bid"];
            var expiration = activeTasks[i]["expiration_datetime"];
            var email = "michael.hopkins@yale.edu";
            var location = activeTasks[i]["delivery_location"];
            var description = activeTasks[i]["long_title"];
            var lat = parseFloat(activeTasks[i]["latitude"]);
            var lng = parseFloat(activeTasks[i]["longitude"]);
            var myLatLng = new google.maps.LatLng(lat, lng);
            var info = contentString.format(title,bid,expiration,email, location, description);
            var marker = new google.maps.Marker({
              position: myLatLng,
              map: map,
              html: info
            });

            google.maps.event.addListener(marker, 'click', function() {
              infowindow.setContent(this.html);
              infowindow.open(map, this);
            });
          }

      });
    }

    google.maps.event.addDomListener(window, 'load', initialize);
/*
[
        ['GHeav Sandwich', 'Calhoun A31', '$10', '1 hour', 'Bring me a sandwich from GHeav with turkey, lettuce, tomato, cheese, and NO MAYO.', 'aayush.upadhyay@yale.edu', 41.3101, -72.9277],
        ['A Little Lovin', 'Branford E32', '$0', '1 week', 'No description needed.', 'william.childs-klein@yale.edu', 41.3091, -72.9267],
        ['Help with UML', 'Open Zoo', '$40', '1 day', 'I am so glad that we have a unified markup language, but I really need someone to teach me the basics for an hour or so.', 'ruzica.piskac@yale.edu', 41.3081, -72.9297],
        ['WamBam! Development', 'CEID', '$30', '1 week', 'We need help testing out amazing product before it comes out to the Yale public.', 'brandon.smith@yale.edu', 41.3115, -72.9307],
        ['Flying', 'Old Campus', '$1,000,000', '1 week', 'I want to learn to fly, preferably like superman, but I would be OK going Wonderwoman style with an invisible jet.', 'miles.richardson@yale.edu', 41.3103, -72.9317]
      ];*/
    </script>
  </head>
  <body>
    <div id="header">
      <div id="title"> WamBam! </div>
      <div id="description"> Claim a task and become a WamBam! </div>
    </div>
    <div id="map-canvas"></div>
    <div id="buttonbar">
      <form id="form" action="/home">
        <input id="button" type="submit" value="Actually, I don't want to work!">
      </form>
    </div>
  </body>
</html>
